.result{
    width: 100%;
}
.result svg{
    fill: var(--bleu);
}
.result .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.result .card .resultdes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result .card .resultdes span:nth-child(1){
    padding-top: 1rem;
    color:var(--bleu);
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--spanShadow);
    font-family: Arial, Helvetica, sans-serif;
 
    
}

.result .card .resultdes span { 
       font-weight:500;
 text-shadow: 2px 2px 4px var(--spanShadow);
    line-height: 1.6;
    }
/*==MEDIA QUERY==*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .result {
display: flex;
padding: 2vh 1vw;
flex-direction: column;
gap: 50px;
  }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .result {
        display: flex;
        padding: 2vh 1vw;
        flex-direction: column;
        gap: 50px;

          }
        
}
/* Styles pour les tablettes en mode portrait */
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .result {
    display: flex;
    padding: 2vh 1vw;
    flex-direction: column;
    gap: 50px;

      }
}

/* Styles pour les tablettes en mode paysage */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .result {
    display: flex;
    padding: 2vh 1vw;
    flex-direction: column;
    gap: 50px;

      }
}
  @media only screen and (min-width: 1201px) {
    .result {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
        
          padding:6vh 10vw;
        }
}
  


