.services {
  background-color: var(--grey);
  width: 100%;
}
.gray{
  color:var(--bleu) !important;
  text-shadow: 2px 2px 4px var(--spanShadow);
  font-family: Arial, Helvetica, sans-serif;
}
.services ul li img {

  width: 100%;

}

.services ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding: 0;
}

.services ul li ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: justify;
  line-height: 2;
}
.services ul li ul li:first-child {
  font-weight: bolder;
  color: var(--servicefirst);

  line-height: 1.2;
  letter-spacing: 0.3px;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.services ul li ul li:nth-child(2) {
  font-weight: 700;
  margin-top: 3rem;
}
.services ul li ul li span {
  font-weight: 600;
}
.paragraph .hide{
  display: none;
}
.toggle-button,.toggle-button1,.toggle-button2{display: none;}
/*==MEDIA QUERY==*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .services ul {
    flex-direction: column;
  }

  .services ul li ul li:first-child {
    font-size: 7vw;
  }
  .services ul li ul {
    padding: 2vh 5vw;
  }
  #matelas {
    display: flex;
    flex-direction: column-reverse;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 60px; */
  }
  .toggle-button,.toggle-button1,.toggle-button2{
    display: block;
    color: white;
    background-color:var(--bleu);
    border-radius: 5px;
    border: none;
    height: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-weight: bold;
    margin: 1rem auto;

  }
  .paragraph.hide,.paragraph1.hide,.paragraph2.hide{
  
    display: block !important;
  }
  .paragraph, .paragraph1, .paragraph2 {
    display: none;}
  
  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .services ul {
    flex-direction: column;
  }
  .services ul li ul li:first-child {
    font-size: 4vh;
  }
  .services ul li ul {
    padding: 2vh 5vw;
  }
  #matelas {
    display: flex;
    flex-direction: column-reverse;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  
}

@media screen and (min-width: 769px) {
  .services ul li {
    width: 50%;
  }


  .services ul li ul li {
    width: 100%;
    margin-top: 3rem;
  }
  .services ul li ul {
    padding: 3rem;
 height: 90vh;
  }
  .services ul li ul li:first-child {
    font-size: 2.5vw;
}


}
